
<link href="Scripts/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
<link href="Scripts/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="Scripts/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
<link href="Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="Content/css/core.css" rel="stylesheet" type="text/css">
<link href="Content/css/icons.css" rel="stylesheet" type="text/css">
<link href="Content/css/components.css" rel="stylesheet" type="text/css">
<link href="Content/css/pages.css" rel="stylesheet" type="text/css">
<link href="Content/css/menu.css" rel="stylesheet" type="text/css">
<link href="Content/css/responsive.css" rel="stylesheet" type="text/css">
<script src="scripts/js/modernizr.min.js"></script>
<div class="wrapper-page">
    <div class="panel panel-border panel-info">
        <div class="panel-heading">
            <div class="clearfix">
                <div class="text-center">
                    <h4>LOGIN</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal m-t-20">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="email" class="form-control" name="email" ng-model="apiuser.email" placeholder="Username"
                               autocomplete="off" required="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" ng-model="apiuser.password" placeholder="Password"
                               autocomplete="off" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-block btn-primary " ng-click="doLogin(apiuser)" data-ng-disabled="loginForm.$invalid">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var resizefunc = [];
</script>
<!-- Main  -->
<script src="Scripts/js/jquery.min.js"></script>
<script src="Scripts/js/bootstrap.min.js"></script>
<script src="Scripts/js/detect.js"></script>
<script src="Scripts/js/fastclick.js"></script>
<script src="Scripts/js/jquery.slimscroll.js"></script>
<script src="Scripts/js/jquery.blockUI.js"></script>
<script src="Scripts/js/waves.js"></script>
<script src="Scripts/js/wow.min.js"></script>
<script src="Scripts/js/jquery.nicescroll.js"></script>
<script src="Scripts/js/jquery.scrollTo.min.js"></script>
<!-- Custom main Js -->
<script src="Scripts/js/jquery.core.js"></script>
<script src="Scripts/js/jquery.app.js"></script>

